<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="desctiption" content="">
    <meta name="keywords" content="">
    <meta name="format-detection" content="telephone=no">

    <title>{% block title %}Tobias Zils{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.0.7/remodal.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.0.7/remodal-default-theme.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('fonts/fonts.css') }}">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="{{ asset('vendor/flexibility.js') }}"></script>
    <![endif]-->

    {% block stylesheets %}
        {% stylesheets '@SiteBundle/Resources/public/styles/main.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}

</head>
<body>
{% block navi %}{% endblock %}


{% include '@Site/Default/Modules/hamburger.html.twig' %}

{% include '@Site/Default/Modules/navi.html.twig' %}



{% block body %}{% endblock %}

<div class="mobile-menu-overlay hidden"></div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.0.7/remodal.js"></script>
<!-- GSAP -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/utils/Draggable.min.js"></script>
<script src="{{ asset('vendor/ThrowPropsPlugin.min.js') }}"></script>
{#<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/easing/EasePack.min.js"></script>#}


{#<div class="debug-box"></div>#}

<script src="{{ asset('vendor/flickrapi/browser/flickrapi.dev.js') }}"></script>

<script src="{{ asset('vendor/barba.min.js') }}"></script>

{% block javascripts %}
    {% javascripts '@SiteBundle/Resources/public/src/browser-bundle.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


</body>
</html>
